/* ===== CIRCLE GALLERY FIXED ===== */
#circleBox{
display:none;
position:absolute;
width:220px;
height:220px;
top:50%;
left:50%;
transform:translate(-50%,-50%);
animation:rotate 18s linear infinite;
}

/* ảnh nhỏ vừa đủ nhìn */
.circle{
position:absolute;
width:45px;
height:45px;
border-radius:10px;
object-fit:cover;

/* xoay quanh tâm */
top:50%;
left:50%;
transform-origin:0 -110px;
box-shadow:0 0 10px rgba(255,255,255,0.2);
}

/* xoay vòng */
@keyframes rotate{
0%{transform:translate(-50%,-50%) rotate(0deg);}
100%{transform:translate(-50%,-50%) rotate(360deg);}
}
