*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:arial;
}

body{
background:black;
overflow:hidden;
color:white;
}

/* MATRIX */
canvas{
position:fixed;
top:0;
left:0;
z-index:0;
}

/* CENTER */
.center{
position:absolute;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:2;
text-align:center;
}

/* TEXT */
#text{
font-size:60px;
text-shadow:0 0 10px pink;
}

/* HEART */
#heart{
font-size:140px;
display:none;
animation:beat 0.8s infinite;
color:red;
}

@keyframes beat{
0%{transform:scale(1);}
50%{transform:scale(1.3);}
100%{transform:scale(1);}
}

/* LETTER */
#letter{
display:none;
width:320px;
padding:15px;
border-radius:10px;
background:rgba(255,255,255,0.1);
}

/* GALLERY */
#gallery{
display:none;
width:300px;
overflow:hidden;
}

.slider{
display:flex;
transition:1s;
}

.slider img{
width:300px;
}

/* QUESTION */
#question{
display:none;
font-size:22px;
margin-top:20px;
}

/* BUTTON */
#yesBtn{
display:none;
margin-top:10px;
padding:10px 20px;
border:none;
border-radius:10px;
cursor:pointer;
}

/* FINAL */
#finalText{
display:none;
font-size:40px;
margin-top:20px;
text-shadow:0 0 10px red;
}
